body{
    background-color: cyan;
}

header{
    background-color: rgb(46, 6, 28);
}

.header a{
    
        color: #caabc2;
        margin-right:10px ;
}

.pamela{
background: url(../Assests/location.jpg);
color: cyan;
}
.pamela h1{
    color:darkred;
}

.pamela p{
    color: darkred;
}
#hello{
width: 100%;
}

.logo{
    width:90px;
}


footer{
    background-color:rgb(46, 6, 28);
    
}

 #end{
     width:100%;
 }
 
 footer .size a{
     color:orange;
font-size: 30px;
  width: 45px;
  height: 45px;
  line-height: 39px;
  display: inline-block;
  border-radius: 50%;
  border: 2px solid #05ff05;
  box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.4);
  margin: 10px;
  opacity: 0.7;
  transition: 0.3s ease-in-out;
 }
 footer .size a:hover{
    opacity: 0.9;
    box-shadow: 0px 1px 3px 2px rgba(255, 255, 255, 0.9);
  }
 
  footer #done{
      font-size:15px;
      color:orange;
      padding:10px;
  }

